body{
    background-image: url("fond.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #1d0a37;

    animation: fadeInAnimation ease 2s; 
    animation-fill-mode: forwards; 
    animation-iteration-count: 1;
}

@keyframes fadeInAnimation{ 
    0%
    { 
        opacity: 0; 
    } 
    100%
    { 
        opacity: 1; 
    }
}

.flexbox{
    display: flex;
    justify-content: center;
    margin-top: 16%;
}

.rect{
    background-color: #1d0a37;
    height: 450px;
    width: 400px;
}